<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!-- 우리 클래스 다 bean으로 로딩 -->
	<context:component-scan base-package="kr.co.mlec" />

	<!-- 스프링 mvc관련 클래스들을 bean클래스 로딩 해 줌 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>

			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	
	<!-- 스프링 mvc관련 클래스들을 bean클래스 로딩 해 줌 -->
	<mvc:default-servlet-handler />



	<!-- 스프링에서 제공하는 파일업로드 클래스~!  -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 업로드 파일 사이즈 : 10MB -->
		<property name="maxUploadSize" value="10485760" />
	</bean>




	<!-- view-name은 prefix랑suffix 영향을 받는다 -->
	<!-- 컨트롤러 없이 페이지 매핑 -->
<!-- 	<mvc:view-controller path="/file/uploadForm.do"
		view-name="file/fileUploadForm" />
 -->
	<!-- controller에서 view를 찾을때 앞 뒤에 공통으로 붙는걸 설정해줌! prefix 붙는다 server에서만 붙을 
		수 있지 클라이언트에서는 못붙음 보안! 사용자가 직접 못찾음 보안 필요없고 다른것들은 webapp폴더에 걍 넣음 / 지정된 경로에서 
		suffix뺀다! 여기서 대신 설정해줬기 때문 -->
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>



</beans>